<!DOCTYPE html>
<html>

<head>
    <title>Technical Questions</title>
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="static/css/assessments.css">
    <style>
        body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-image: url('./static/BG_Image_2.png');
    background-repeat: no-repeat;
    background-size: cover;
}
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <div class="container">
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item active">
                <a class="nav-link" style="color: #e2e59f;" href="/logout">Logout</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>

    <div class="menu-container">
        <h2 align="center">Resume-Based Technical Questions</h2>
        {% for row in mcq_questions %}
        {% set outer_loop = loop %}
        <div class="question-container">
            <div class="question">
                {{row.question}}
            </div>
            {% for key in row.options.keys() %}
            <input type="radio" name="q{{outer_loop.index}}" value="{{key}}"> {{row.options[key]}}<br>
            {% endfor %}

        {% endfor %}
        <br>
        {% for row in descriptive_questions %}
        <div class="question-container">
            <div class="question">
                {{row.question}}
            </div>
            <textarea class="answer-input" id="q{{loop.index}}_answer"></textarea>
        {% endfor %}

        <button onclick="submitAnswers()">Submit Answers</button>
    </div>
    <script>
        function submitAnswers() {
            descriptive_answers = {
                {% for row in descriptive_questions %}
                q{{loop.index}}: document.getElementById('q{{loop.index}}_answer').value,
                {% endfor %}
            };

            mcq_answers  =  {
                {% for row in mcq_questions %}
                q{{loop.index}}: document.querySelector('input[name="q{{loop.index}}"]:checked').value,
                {% endfor %}
            };

            var answers = {'mcq_answers':mcq_answers,
                            'descriptive_answers':descriptive_answers};

            // Send the answers to the Flask backend using Fetch API
            fetch('/submit_answers', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(answers),
            })
            .then(response => response.json())
            .then(data => {
                // Handle the response from the backend (if needed)
                console.log(data);
            })
            .catch(error => {
                console.error('Error:', error);
            });
        };
    </script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    
</body>


</html>
